body {
  background-color: rosybrown;
  margin: 0;
  font-family: monospace;
  text-align: center;
}

nav {
  background-color: rosybrown;
  font-size: 3em;
}
#main-content {
  display: flex;
  margin: 60px;
  justify-content: center;
}
.modal {
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  background-color: rgb(26, 29, 26);
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  font-size: 2.3em;
}
.modal-container {
  background-color: rosybrown;
  height: 40vh;
  width: 30vw;
  padding: 5px;
}
.modal-container > form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 70%;
  height: 2em;
  margin: 5px;
  font-weight: 500;
  font-size: 0.5em;
}
.add-book-button {
  height: 100px;
  width: 200px;
  font-size: 1.5em;
}
.remove-book {
  background-color: rosybrown;
  border: none;
  border-radius: 5px;
  height: 2em;
  margin: 10px;
}
.book-card {
  height: 300px;
  width: 200px;
  background-color: #e9e9ed;
  margin: 20px;
  border-radius: 5px;
  font-size: 1.5em;
}

.book-card-remove {
  background-color: palevioletred;
}
