* {
    margin:0;
    font-family: "Raleway", sans-serif;
}
#wrapper {
    display: flex;
    flex-direction:column;
    height:100%;
}
nav, header ,footer{
    background-color: #1F2937;
    color:#F9FAF8;
    padding:2rem;
}
.links {
    display:flex;
    justify-content:end;
    width:100%
    
}
.links a {
    padding-right: 3rem;
    color:#F9FAF8;
    text-decoration: none;
}
nav, footer {
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}
header, footer{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    flex:1;
}
.header-block {
    padding:2rem;
    height:150px;
    width:300px;
}
.header-block h1 {
    padding-bottom:1rem;
}
.img-div {
    border:2px solid #F9FAF8;
    border-radius:10px;
    height:150px;
    width:300px;
    display:flex;
    justify-content: center;
    align-items:center;
}
button {
    background-color: #3882F6;
    border-radius: 4px;
    border:none;
    padding: .2 1rem .2 1rem;
    margin-top:.5rem;
    color:#F9FAF8;
    height:25px;

}
.papa-box {
    display:flex;
    padding-top:1rem;
}
.random-box {
    height:auto;
    width:100px;
}
.small-box {
    height: 80px;
    width:80px;
    border:2px solid #3882F6;
    border-radius:10px;

}
.content-block {
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:auto;
    padding:3rem;
}
.quote {
    background-color: #E5E7EB;
}
.fig {
    width:450px;
    font:36px #1F2937;
    font-style:italic; 
    padding:2rem;
}
.fig figcaption {
    text-align: right;
    font-weight: bold;
}
.footer-block {
    display:flex;
    justify-content: space-between;
    width:500px;
    background-color: #3882F6;
    padding:1rem 3rem 1rem 3rem;
    color:#F9FAF8;
    border-radius:4px;
}
.footer-block button {
    border: 1px solid #F9FAF8;
    height: 35px;
}