@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
body {
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}
wrapper {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color:whitesmoke;
    height:100vh;
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #78cac9 0%, #0ec97b 100%);
    background: -moz-linear-gradient(top left, #092fd6 0%, #53e3a6 100%);
    background: -o-linear-gradient(top left, #8df1f0 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%); 
}
main {
   max-width: 80vw;
}
.choose {
    display: flex;
    flex-direction: row;
}
.card {
    background-color: white;
    height: 200px;
    width: 200px;
    margin: 20px;
    color:#53e3a6;
    font-size: x-large;
    border: none;
    border-radius: 3px;
}
.card:hover {
    background-color:#53e3a6;
    color: white; 
}

.displayResultArea {
    height: 200px;
    width:300;
    font-size:larger;
    background-color: white;
    margin: 20px;
}

.gameButton {
    color: white;
    font-size: large;
    border: none;
    border-radius: 3px;
    background-color: #53e3a6;
    width: 250px;
    opacity: 600%;
    height: 70px;
}

.gameButton .icon {
    fill: white;
}

.winner {
    color:#53e3a6;
    text-align: center;
}


.scoreBoard {
    width: 100%;
    background-color: white;
    color:#53e3a6;
}

.score{
    font-size:40px;
    display: flex;
}

.score p {
    padding: 20px;
}
.container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.container .hide{
    display: none;
}
header {
    margin: 20px;
    padding: 5px;
    background-color: white;
    border-radius: 3px;
    color:#53e3a6;
    font-size:x-large;
}

.icon {
    fill:#53e3a6;
    height:50px;
}

.card:hover .icon{
    fill: white;
}


@media  screen and (max-width: 640px) {
    main{
        max-width:100vw;
        max-height:100vh;
    }
    .card{
        width: 70px;
        height: 70px;
    }
    .icon{
        height: 30px;
    }
    .displayResultArea{
        width: 100vw;
    }
    .gameButton{}

}