@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
/*Main section styling*/
body {
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;
    color:#53e3a6;
    font-weight: 300;
}
wrapper {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color:whitesmoke;
    height:100vh;
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #78cac9 0%, #0ec97b 100%);
    background: -moz-linear-gradient(top left, #092fd6 0%, #53e3a6 100%);
    background: -o-linear-gradient(top left, #8df1f0 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%); 
}
main{
    width: 80vw;
}
/*Styling of containers*/
.container{
    display:flex;
    flex-direction: column;
}
.division{
    background-color: white;
    height: 100px;
    margin: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.card{
    background-color: white;
    border: none;
}

.hide{
    display: none;
}

/*Icon and button styling*/
.icon{
    height: 50px;
    fill:#53e3a6;
}
.card:hover{
    background-color: #53e3a6;
}
.card:hover .icon{
    fill:white;
}
.division:hover{
    background-color: #53e3a6;
    color:white;
}
.division:hover .icon{
   fill:#53e3a6;
}
.gameButton{
    background-color: white;
    border: none;
    width:200px;
    border-radius:4px;
}

/*
 @media  screen and (max-width: 640px) {
    main{
        max-width:100vw;
        max-height:100vh;
    }
    .card{
        width: 70px;
        height: 70px;
    }
    .icon{
        height: 30px;
    }
    .displayResultArea{
        width: 100vw;
    }
    .gameButton{}

}